/* Styles for the Checkout Products Page */
.tabs {
  padding-top: 100px;
  padding-left: 300px;
}

.searchMyOrder{
  padding-top: 100px;
  padding-left: 300px;
}

.searchMyOrder {
  padding-top: 20px;
}

.checkout-container {
  max-width: 1300px;
  /* Lebar maksimal 1350px */
  margin: 0 auto;
  /* Pusatkan konten */
  padding: 20px;
}

.checkout-table {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 25px 300px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-responsive {
  overflow-x: auto;
  border: none;
  border-radius: 5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #8ce4eb;
  color: #080808;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Styling for the product info */
.product-info {
  display: flex;
  align-items: center;
}

.product-info img {
  max-width: 100px;
  margin-right: 10px;
}

/* Buy Again Button */
.buy-again-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.buy-again-button:hover {
  background-color: #0056b3;
}