.herohome {
  margin-top: 45px;
}
.stlimg {
  max-width: 80%;
  width: 35%;
  margin: auto;
  position: relative;
  top: 100px;
  background-color: none;
  border: none;
}

.productlaris {
  display: flex;
  max-width: 1420px;
  margin: auto;
  padding-top: 30px;
  font-size: 28px;
}

@media screen and (max-width: 769px) {
  .productlaris {
    position: relative;
    top: -210px;
    padding-left: 20px;
    /* left: 20px; */
    font-size: 16px !important;
  }

  .foot {
    position: relative;
    top: -350px;
  }

  .ohya {
    margin-top: 143px;
  }
  .stlimg {
    width: 100%; /* Lebar gambar menjadi 100% dari lebar modal */
    max-height: 120vh; /* Batasi tinggi gambar agar tidak melewati tinggi layar */
    margin: 0;
  }
  .herohome {
    margin-top: 48px;
  }
}
