/* Styles for the Checkout Products Page */
.checkout-container {
  width: auto;
  margin: 0 30px;
  /* padding: 20px; */
  padding-top: 80px;
}

.pesanUser {
  padding-bottom: 40px;
}

.checkout-table {
  margin: 70px 0 25px 0;

}

.table-responsive {
  overflow-x: auto;
  border: 1px solid #d3e5ee94;
  border-radius: 8px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #bce1f071;
  color: #080808;
  align-items: center;
}

tr:nth-child(even) {
  background-color: #e8f3f55b;
}

/* Styling for the product info */
.product-info {
  display: flex;
  align-items: center;
}

.product-info img {
  max-width: 100px;
  margin-right: 10px;
}

/* Buy Again Button */
.buy-again-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-again-button:hover {
  background-color: #0056b3;
}

/* Styles for the tabs */
.tabs {
  display: flex;
  /* justify-content: center; */
  /* margin-top: 20px; */
  position: fixed;
}

.tabs button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px 10px 0 0;
}

.tabs button.active {
  background-color: #0056b3;
}

.tabs button:hover {
  background-color: #0056b3;
}
