.checkout-container {
  width: auto;
  margin: 0 30px;
  padding-top: 80px;
}

.pesanUser {
  padding-bottom: 40px;
}
.no-underline-link {
  text-decoration: none;
}


.checkout-table {
  margin: 70px 0 25px 0;

}
.pesditer {
  background-color: #007BFF; /* Warna latar belakang tombol */
  color: #fff; /* Warna teks tombol */
  padding: 10px 20px; /* Padding tombol */
  border: none; /* Hapus garis batas tombol */
  border-radius: 5px; /* Sudut tombol yang dibulatkan */
  cursor: pointer; /* Ubah kursor saat dihover */
  transition: background-color 0.3s; /* Efek transisi saat dihover */
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.pesditer:hover {
  background-color: #0056b3; /* Ganti warna saat dihover */
}


.table-responsive {
  overflow-x: auto;
  border: 1px solid #d3e5ee94;
  border-radius: 8px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #bce1f071;
  color: #080808;
  align-items: center;
}

tr:nth-child(even) {
  background-color: #e8f3f55b;
}

/* Styling for the product info */
.product-info {
  display: flex;
  align-items: center;
}

.product-info img {
  max-width: 100px;
  margin-right: 10px;
}

/* Buy Again Button */
.buy-again-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-again-button:hover {
  background-color: #0056b3;
}

/* Styles for the tabs */
.tabs {
  display: flex;
  position: fixed;
}

.tabs button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px 10px 0 0;
}

.tabs button.active {
  background-color: #0056b3;
}

.tabs button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 769px) {
  .checkout-container {
    margin: 0 15px;
    padding: 0;
    padding-top: 70px; /* Add 40px space to the top */
  }

  .checkout-table {
    margin: 0; /* Reset the margin to make the tables close to each other */
    padding-top: 0; /* Reset the padding-top */
  }

  .tabs button {
    font-size: 8px;
  }

  .checkout-table {
    padding-top: 5px;
    margin-top: 45px;
  }

  .titleCheck {
    font-size: 14px;
  }

  .name {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 6em;

  }
  

  .thead {
    display: none;
  }

  .product-info img {
    width: 40px;
  }

  .table-responsive {
    border: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow:hidden;
  }

  .tabs {
    display: flex;
    position: fixed;
  }
  .address {
    display: none;
  }
  .timeorder {
    display: none;
  }
  .contentTable{
    margin: 0;
    padding: 0;
    width: auto;
  }
}